<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T-Matix tachograph dashboard</title>

    <script src="{% static 'jquery/jquery-1.12.2.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'datatables/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'moment/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'datatables/css/jquery.dataTables.min.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    {% block data_block %}
    {% endblock %}
</body>
</html>