<script type="text/javascript" language="javascript">

 $(document).ready(function() {

	$('#oTable').dataTable({
	 "paging":true,
	 "pageLength": 18,
	 "select":'single',
	 "searching": false,
	 "columns": [{ "title": "Id" },
                 { "title": "Timestamp" },
                 { "title": "Files" },
                 { "title": "IMEI" },
                 { "title": "Number" },
                 { "title": "Time from" },
                 { "title": "Time to" },
                 { "title": "Data blocks" }] });
	});

</script>

<div class="panel panel-primary" style="margin: .5em .5em 0 0;">

        <a href="#" class="list-group-item active">
            <strong>{% if selected_company_name %}{{selected_company_name}} {% endif %} downloads</strong>
        </a>

        <div style="margin:.5em .5em 0em .5em;">
            <table id="oTable" class="display table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <tbody>
                {%for row in vehicleData %}
                <tr>
                    <td>{{row.Id}}</td>
                    <td>{{row.Timestamp}}</td>
                    <td><a href="{% url 'board:datafile' row.Files %}" download="{{row.Files}}">{{row.Files}}</a></td>
                    <td>{{row.IMEI}}</td>
                    <td>{{row.Number}}</td>
                    <td>{{row.TachoTimeFrom}}</td>
                    <td>{{row.TachoTimeTo}}</td>
                    <td>{{row.DataBlocks}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>