
<script type="text/javascript" language="javascript">

 $(document).ready(function() {

	$('#oTable').dataTable({
	 "paging":true,
	 "pageLength": 18,
	 "select":'single',
	 "searching": false,
	 "sorting":false,
	 "columns": [{ "title": "Time", "width": '10%' },
                 { "title": "Level", "width": '10%' },
                 { "title": "Log", "width": '80%' } ] });
	});

</script>

<div class="panel panel-primary" style="margin: .5em .5em 0 0;">

        <a href="#" class="list-group-item active">
            <strong>{% if selected_company_name %}{{selected_company_name}} {% endif %} tachograph logs</strong>
        </a>

        <div style="margin:.5em .5em 0em .5em;">
            <table id="oTable" class="display table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <tbody>
                {%for log in logs %}

                   {% if log.logLevel == "Error" %}
						<tr style="color:red;">
				  {% endif %}

                  {% if log.logLevel == "Critical" %}
						<tr style="color:blue;">
				  {% endif %}

                    <td>{{log.logTime}}</td>
                    <td>{{log.logLevel}}</td>
                    <td>{{log.logText}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>