<div id="searchForm" class="modal" role="dialog">

    <div class="modal-dialog modal-mm">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Search</h4>
            </div>

            <form action="/tacho/"  method="POST" role="form" class="form-horizontal" style="margin-top:1em;">{% csrf_token %}

                    <div class="form-group" style="margin-left:1em;">
                        <div class="form-inline">
                                <label class="control-label col-sm-2" for="imei">IMEI</label>
                                <input type="text" class="form-control" name="imei"  id="imei">
                         </div>
                     </div>

                <div class="form-group" style="margin-left:1em;">
                     <div class="form-inline">

                         <label class="control-label col-sm-2" for="ts_from">Timestamp</label>
                                <div class='input-group date col-sm-3' id='ts_from'>
                                <input type='text' name="ts_from" class="form-control"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>

                        <label class="control-label" for="ts_to">to</label>
                            <div class='input-group date col-sm-3' id='ts_to'>
                                <input type='text' name="ts_to" class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>

                    </div>
                           </div>


                <div class="form-group"  style="margin-left:1em;">
                     <div class="form-inline">

                         <label class="control-label col-sm-2" for="tm_from">Time from</label>
                                <div class='input-group date col-sm-3' id='tm_from'>
                                <input type='text'  name="tm_from" class="form-control"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>

                        <label class="control-label" for="tm_to">to</label>
                            <div class='input-group date col-sm-3' id='tm_to'>
                                <input type='text'  name="tm_to" class="form-control"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>

                    </div>
                           </div>

                <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

               <input type="hidden" name="search" value="search"/>

            </form>

            </div>
    </div>
</div>

<script type="text/javascript">

 $(document).ready(function() {

            $(function () {
                $('#ts_from').datetimepicker({
                locale:'en',
                format: 'DD.MM.YYYY'
                });

                $('#ts_to').datetimepicker({
                locale:'en',
                format: 'DD.MM.YYYY'
                });

                $('#tm_from').datetimepicker({
                locale:'en',
                format: 'DD.MM.YYYY'
                });

                 $('#tm_to').datetimepicker({
                locale:'en',
                format: 'DD.MM.YYYY'
                });

            });
          });

        </script>
