{% load staticfiles %}

<div style="float: left;margin:0 .5em 0 0;">
    <img src="{% static 'img/tmatix-logo-scaled.png' %}"><img>
</div>

<div style="float: left;margin:0 .5em 0 0;">

                <form action="/tacho/" method="post">{% csrf_token %}
                    {% if display_mode == 'LOG' %}
                               <a class="btn btn-primary" style="text-decoration: none;font-size:16px;"  href="javascript:;" onclick="parentNode.submit();">Logs</a>
                    {% else %}
                               <a class="btn btn-default" style="text-decoration: none;font-size:16px;"  href="javascript:;" onclick="parentNode.submit();">Logs</a>
                                <input type="hidden" name="display_mode" value='LOG'>
                    {% endif %}
                  </form>
</div>

                    {% if display_mode == 'LOG' %}
<div style="float: left;margin:0 .5em 0 0;">
                            <div class="btn-group">

                           <button id="b_select_log_level" type="button" class="btn btn-primary" style="font-size:16px;width:10em;text-align:left;">
                                {% if selected_log_level %}
                                    {{selected_log_level}}
                                        {% else %}
                                            Log level
                                        {% endif %}
                        </button>

                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false" style="font-size:16px;">
                            <span class="caret"></span>
                            <span class="sr-only"></span>
                          </button>

                        <ul class="dropdown-menu">
                            {%for level in log_levels %}
                            <li>
                                <form action="/tacho/" method="post">{% csrf_token %}
                                    <a style="text-decoration: none;margin:.5em 0 0 .5em;" href="javascript:;" onclick="parentNode.submit();">{{level}}</a>
                                    <input type="hidden" name="selected_log_level" value={{level}}>
                                </form>
                            </li>
                            {% endfor %}
                        </ul>

                    </div>

    </div>
                    {% endif %}

<div style="float: left;margin:0 .5em 0 0;">
    <form action="/tacho/" method="post">{% csrf_token %}
             {% if display_mode == 'DATA' %}
                       <a class="btn btn-primary" style="text-decoration: none;font-size:16px;"  href="javascript:;" >Downloads</a>
             {% else %}
                       <a class="btn btn-default" style="text-decoration: none;font-size:16px;"  href="javascript:;" onclick="parentNode.submit();">Downloads</a>
             {% endif %}
                        <input type="hidden" name="display_mode" value='DATA'>
    </form>
</div>

<div class="btn-group">

    <button id="b_select_company" type="button" class="btn btn-primary" style="font-size:16px;width:10em;text-align:left;">
      {% if selected_company_name %}
          {{selected_company_name}}
         {% else %}
             Company
         {% endif %}
    </button>

  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="font-size:16px;">
    <span class="caret"></span>
    <span class="sr-only"></span>
  </button>

{% if user_company == "*"%}
  <ul class="dropdown-menu">
        {%for c in company_list %}
                <li>
                  <form action="/tacho/" method="post">{% csrf_token %}
                       <a style="text-decoration: none;margin:.5em 0 0 .5em;" href="javascript:;" onclick="parentNode.submit();">{{c.CompanyName}}</a>
                        <input type="hidden" name="selected_company" value={{c.company_code}}>
                  </form>
                </li>
        {% endfor %}

    <li role="separator" class="divider"></li>
                <li>
                  <form action="/tacho/" method="post">{% csrf_token %}
                       <a style="text-decoration: none;margin-left:.5em;" href="javascript:;" onclick="parentNode.submit();">Tacho service</a>
                        <input type="hidden" name="selected_company" value='service'>
                  </form>
                </li>
  </ul>
{% endif %}

</div>
{% if display_mode == 'DATA'%}
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#searchForm">Search</button>
{% endif %}

    <form action="/tacho/logout" style="float: right;margin:0 .5em 0 0;">
        <div class="btn-group">
    <div class="btn btn-default">{{ user.first_name }}</div>
        <button type="submit" class="btn btn-primary" style="float: right;margin:0 .5em 0 0;">Logout</button>
        </div>
    </form>

{% include "download_search.html" %}



