{% extends 'DataBoard/base.html' %}

{% block data_block %}

<script type="text/javascript" language="javascript">
     $(document).ready(function() {

     if ( typeof log_text != 'undefined') {
        $('#log_text').scrollTop($('#log_text')[0].scrollHeight);}
	});

</script>

<div style="margin:0.5em 0 0 .5em; with:100%" >

{% include "header.html" %}

 {% if display_mode == 'LOG' %}

    <!--<table width="100%" style="margin-top:.5em;">
        <tr>
            <td style="vertical-align:top;width:30%">
                 {% include "log_list.html" %}
            </td>
            <td style="vertical-align:top;padding-left:1em;padding-right:1em;">
                 {% include "log_content.html" %}
            </td>
        </tr>
    </table>-->

{% include "db_log_list.html" %}

{% else %}
        {% include "datatable.html" %}
{% endif %}

</div>

{% endblock %}