 <div class="list-group">
                  <a href="#" class="list-group-item active">
                    <strong>{% if selected_company %}{{selected_company}} {% endif %} Logs</strong>
                  </a>
                   {%for log in logs %}

                    <form action="/tacho/" method="post">{% csrf_token %}
                        {% if log == log_file_name %}
                        <a class="list-group-item" style="background:#eee;text-decoration: none;" href="javascript:;" onclick="parentNode.submit();">{{log}}</a>
                        {% else %}
                            <a class="list-group-item " style="text-decoration: none;" href="javascript:;" onclick="parentNode.submit();">{{log}}</a>
                        {% endif %}
                        <input type="hidden" name="log_file" value={{log}}>
                    </form>

                    {%endfor%}
                </div>