<div class="panel panel-primary">
                <div class="panel-heading">{{ log_file_name }}</div>
                <div class="panel-body">
                    <textarea class="form-control" rows="40"  readonly="true" id="log_text" style="border:none;">
                    {{log_content}}
                    </textarea>
                    </div>
                </div>